* {
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(244, 223, 236); 
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#joke{
    text-align: center;
    border:3px solid rgb(181, 181, 233);
    background-color:aliceblue;
    padding:20px;
    border-radius:7px;
}

#buttons{
    display:flex;
    gap:1rem;
    justify-content: center;
}

button{
    background-color: grey;
    color:white;
    border-radius:7px;
    padding:10px; 
}